.artistC {
    display: flex;
    position: relative;
    width: 1440px;
    height: auto;
    overflow: hidden;
    margin-bottom: 10px;
    justify-content: center;

}

@media (max-width: 768px) {
    .artistC {
        width: 100%;
        flex-wrap: wrap;
    }
}


/* .atirst {
    transform: scale(0.874) translateY(-60px);
    transform: translateY(-100px);
} */

.artistPhoto {
    height: 673px;
    width: 450px;
    display: flex;
    justify-content: center;
    /* 水平置中 */
    align-items: flex-end;
    /* 垂直靠底部 */

}


.artistPhoto img {
    max-width: 100%;
    max-height: 100%;
    transform: translateY(-50px);

}

.artistCWord {
    margin-top: 40px;
    position: relative;
    height: auto;
    gap: 12px;
}

.shiehLayout{
    margin-left: 98px;
    margin-top: 20px;
}

.artistN {
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
}

/* .artistIntroC {
    margin-top: 100px;
    margin-right: 100px;
    height: fit-content;
    display: flex;
    flex-direction: column;
} */


.artistIntro {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.2px;
    width: 922px
}

.shiehRwd{
    display: none;
}

@media (max-width: 768px) {
    .artistPhoto {
        height: 216px;
        width: 178px;
    }

    .artistPhoto img {
        transform: unset;
    }


    .artistCWord {
        display: flex;
        flex-direction: column;
        margin-top: unset;
        margin-bottom:5px;
        width: 54%;
        gap: 4px;
        justify-content: flex-end;
        margin-left:4px;
    }

    .artistN {
        font-size: 20px;
        line-height: 24px;
    }

    .artistIntro {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.8px;
        width: 100%;
    }

    .shieh{
        display: none !important;
    }

    .shiehRwd{
        display: flex;
    }

}


/* Carousel 外層容器，固定寬度只顯示 3 個 item 與間距 */
.paintCarosuel {
    position: absolute;
    width: 1000px;
    height: 453px;
    margin-top: 40px;
    right: -6%;
    bottom: 5%;
    overflow: hidden;
    padding-left: 36px;
    margin-left: 28px;

}

.paintCarosuel-1 {
    position: absolute;
    width: 1240px;
    height: 453px;
    margin-top: 40px;
    left: -23.8%;
    bottom: 2%;
    overflow: hidden;

}


@media (max-width: 768px) {

    .paintCarosuel,
    .paintCarosuel-1 {
        all: unset;
        display: block;
        width: auto;
        height: 272px;
        margin-top: unset;
        overflow-x: scroll;
        overflow-y: hidden;
    }
}


/* 放所有 item 的 track，採用 flex 排列並設定間距 */
.paintWrap {
    display: flex;
    gap: 32px;
    transition: transform 0.3s ease-in-out;
    width: 1240px;
    overflow: hidden;
}

/* 單一 item 的樣式 */
.paintItem {
    flex: 0 0 auto;
    width: 392px;
    height: 453px;
    border-radius: 32px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    box-shadow:
        -5px -3px 12px 0px rgba(193, 203, 221, 0.16) inset,
        -3px -3px 10px 0px rgba(84, 92, 101, 0.16) inset,
        0px 5px 44px 0px rgba(169, 168, 168, 0.12)inset;

}

.paintPhoto {
    width: 360px;
    height: 280px;
    border-radius: 20px;
    background-color: #F6F7FB;
    overflow: hidden;
    /* 隱藏超出容器的部分 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.paintPhoto img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* 以完整呈現圖片，不拉伸 */
}

.paintName {
    margin-top: 16px;
    width: 339px;
    height: auto;
    font-weight: 700;
    font-size: 24px;
}

.paintMedium {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
}

.paintDetail {
    width: 336px;
    height: 53px;
    margin-top: 16px;
    gap: 4px;
    font-weight: 400;
    font-size: 16px;
}



@media (max-width: 768px) {

    .paintWrap {
        gap: 20px;
        transition: unset;
        width: auto;
        overflow: unset;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-top: 3px;
    }

    .paintItem {
        width: 234px;
        height: 272px;
        border-radius: 20px;
    }

    .paintPhoto {
        width: 214.9px;
        height: 167.14px;
        border-radius: 12px;
    }

    .paintName {
        margin-top: 10px;
        width: 200px;
        font-size: 14px;
        height:72px;
    }

    .paintMedium {
        font-weight: 500;
        font-size: 10px;
        letter-spacing: 0.6px;
    }

    .paintDetail {
        width: 200px;
        height: 53px;
        margin-top: 9.55px;
        gap: 2px;
        font-size:9.55px;
    }



}


/* 右側箭頭按鈕 */
.paintButtonL {
    position: absolute;
    top: 50%;
    left: 0%;
    z-index: 10;
    background: transparent;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline: none;
}

.paintButtonR {
    position: absolute;
    top: 50%;
    left: 82%;
    z-index: 10;
    background: transparent;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline: none;
}


@media (max-width: 768px) {

    .paintButtonL,
    .paintButtonR {
        display: none;
    }
}

.paintButtonL img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* 或者 cover，看你要整個圖片顯示還是填滿容器 */
    border-radius: inherit;
    /* 如果想讓圖片也有和按鈕一樣的圓角 */
}

.paintButtonR img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* 或者 cover，看你要整個圖片顯示還是填滿容器 */
    border-radius: inherit;
    /* 如果想讓圖片也有和按鈕一樣的圓角 */
}