.topic {
    width: fit-content;
    font-weight: 700;
    font-size: 53.38px;
    line-height: 68px;
    background:linear-gradient(90deg, #A66CF6 0%, #4E8DBF 46.27%, #8E9AFC 100%);
    background-clip: text;
    color: transparent;
    margin: 0 auto;
}