.artistC {
    display: grid;
    position: relative;
    width: 100%;
    height: 47vw;
    margin-bottom: 10px;
    grid-template-columns: 32% 68%; /* 兩欄 */
    grid-template-rows: 25% 75%; /* 兩行 */
    margin-top:4vw;
}

.artistC.right{
    grid-template-columns:68% 32%; /* 兩欄 */
}

@media (max-width: 768px) {
    .artistC {
        height:126vw;
        margin-bottom: 10px;
        grid-template-columns: 40% 60%; /* 兩欄 */
        grid-template-rows: 44% 56%; /* 兩行 */
    }

    .artistC.right{
        grid-template-columns:60% 40%; /* 兩欄 */
    }
    
}


/* .atirst {
    transform: scale(0.874) translateY(-60px);
    transform: translateY(-100px);
} */

.artistPhoto {
    flex-shrink: 0; /* 防止圖片被壓縮 */
    width: 100%; /* 讓它填滿左側 */
    max-height: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    grid-row:1/3 ;
}

.artistPhoto.right{
    grid-column:2/3;
}

@media (max-width: 768px) {
    .artistPhoto {
        grid-column: 1/2;
        grid-row:1/2 ;
        align-self:end;
    }
}

.artistPhoto img {
    max-width: 100%;
    max-height: 100%;
}

.artistCWord {
    margin-top: 40px;
    position: relative;
    height: auto;
    grid-row:1/2;
    grid-column: 2/3;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.artistCWord.right{
    grid-column:1/2;
}

.artistN {
    font-weight: 700;
    font-size: 2vw;
    line-height:2.5vw;
}



.artistIntro {
    font-weight: 300;
    font-size: 1.1vw;
    line-height:1.7vw;
    letter-spacing: 1.2px;
    width:64vw;
}

.shiehRwd{
    display: none;
}


@media (max-width: 768px) {
    .artistCWord {
        grid-row:1/2;
        grid-column: 2/3;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .artistN {
        font-size: 5vw;
        line-height:6vw;
        margin-bottom: auto;
    }

    .artistIntro {
        font-size:3vw;
        line-height:4.5vw;
        width:54vw;
    }
    
}




